/*共通部とヘッダー*/

.container {
    max-width: 600px;
    /* 必要に応じて幅を調整 */
    margin: 0 auto;
    /* 中央配置 */
    padding: 20px;
    /* 余白を追加 */
}

/* PC用（1400px〜1540px） */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .container {
        max-width: 800px;
        /* PCでは少し広めに */
    }
}

/* タブレット用（768px〜850px） */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .container {
        max-width: 90%;
        /* タブレットでは画面幅の90%を使う */
        padding: 15px;
        /* 余白を少し減らす */
    }
}